In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from config import user, password

In [3]:
import pymysql
pymysql.install_as_MySQLdb()
engine = create_engine('mysql://' + user + ':' + password + '@imdb-project.cj1m13sfkxlg.us-east-2.rds.amazonaws.com:3306/gundata')

In [4]:
#Query records
data = engine.execute("SELECT Year(Date), COALESCE(state, 'Total') as st, SUM(n_killed) as Gun_Deaths FROM gundata GROUP BY Year(Date),st WITH ROLLUP")
query1 = "SELECT Year(Date), COALESCE(state, 'Total') as st, SUM(n_killed) as Gun_Deaths FROM gundata GROUP BY Year(Date),st WITH ROLLUP"

In [6]:
for record in data:
    print(record)

(2013, 'Alabama', Decimal('3'))
(2013, 'Arizona', Decimal('8'))
(2013, 'California', Decimal('46'))
(2013, 'Colorado', Decimal('4'))
(2013, 'Connecticut', Decimal('2'))
(2013, 'Delaware', Decimal('3'))
(2013, 'District of Columbia', Decimal('12'))
(2013, 'Florida', Decimal('22'))
(2013, 'Georgia', Decimal('5'))
(2013, 'Illinois', Decimal('14'))
(2013, 'Indiana', Decimal('9'))
(2013, 'Kansas', Decimal('6'))
(2013, 'Kentucky', Decimal('4'))
(2013, 'Louisiana', Decimal('8'))
(2013, 'Maryland', Decimal('5'))
(2013, 'Michigan', Decimal('9'))
(2013, 'Minnesota', Decimal('3'))
(2013, 'Mississippi', Decimal('2'))
(2013, 'Missouri', Decimal('9'))
(2013, 'Nebraska', Decimal('0'))
(2013, 'Nevada', Decimal('0'))
(2013, 'New Jersey', Decimal('12'))
(2013, 'New Mexico', Decimal('5'))
(2013, 'New York', Decimal('15'))
(2013, 'North Carolina', Decimal('5'))
(2013, 'Ohio', Decimal('10'))
(2013, 'Oklahoma', Decimal('14'))
(2013, 'Pennsylvania', Decimal('13'))
(2013, 'Rhode Island', Decimal('1'))
(2013, 'South Carolina', Decimal('11'))
(2013, 'Tennessee', Decimal('14'))
(2013, 'Texas', Decimal('24'))
(2013, 'Utah', Decimal('4'))
(2013, 'Virginia', Decimal('3'))
(2013, 'Washington', Decimal('8'))
(2013, 'West Virginia', Decimal('4'))
(2013, 'Wisconsin', Decimal('0'))
(2013, None, Decimal('317'))
(2014, 'Alabama', Decimal('325'))
(2014, 'Alaska', Decimal('29'))
(2014, 'Arizona', Decimal('220'))
(2014, 'Arkansas', Decimal('169'))
(2014, 'California', Decimal('1320'))
(2014, 'Colorado', Decimal('149'))
(2014, 'Connecticut', Decimal('75'))
(2014, 'Delaware', Decimal('50'))
(2014, 'District of Columbia', Decimal('92'))
(2014, 'Florida', Decimal('873'))
(2014, 'Georgia', Decimal('522'))
(2014, 'Hawaii', Decimal('8'))
(2014, 'Idaho', Decimal('31'))
(2014, 'Illinois', Decimal('637'))
(2014, 'Indiana', Decimal('330'))
(2014, 'Iowa', Decimal('62'))
(2014, 'Kansas', Decimal('94'))
(2014, 'Kentucky', Decimal('194'))
(2014, 'Louisiana', Decimal('465'))
(2014, 'Maine', Decimal('22'))
(2014, 'Maryland', Decimal('294'))
(2014, 'Massachusetts', Decimal('101'))
(2014, 'Michigan', Decimal('347'))
(2014, 'Minnesota', Decimal('86'))
(2014, 'Mississippi', Decimal('231'))
(2014, 'Missouri', Decimal('383'))
(2014, 'Montana', Decimal('32'))
(2014, 'Nebraska', Decimal('51'))
(2014, 'Nevada', Decimal('150'))
(2014, 'New Hampshire', Decimal('22'))
(2014, 'New Jersey', Decimal('278'))
(2014, 'New Mexico', Decimal('90'))
(2014, 'New York', Decimal('397'))
(2014, 'North Carolina', Decimal('487'))
(2014, 'North Dakota', Decimal('15'))
(2014, 'Ohio', Decimal('494'))
(2014, 'Oklahoma', Decimal('171'))
(2014, 'Oregon', Decimal('96'))
(2014, 'Pennsylvania', Decimal('547'))
(2014, 'Rhode Island', Decimal('18'))
(2014, 'South Carolina', Decimal('344'))
(2014, 'South Dakota', Decimal('16'))
(2014, 'Tennessee', Decimal('352'))
(2014, 'Texas', Decimal('1094'))
(2014, 'Utah', Decimal('62'))
(2014, 'Vermont', Decimal('18'))
(2014, 'Virginia', Decimal('284'))
(2014, 'Washington', Decimal('181'))
(2014, 'West Virginia', Decimal('70'))
(2014, 'Wisconsin', Decimal('163'))
(2014, 'Wyoming', Decimal('15'))
(2014, None, Decimal('12556'))
(2015, 'Alabama', Decimal('385'))
(2015, 'Alaska', Decimal('70'))
(2015, 'Arizona', Decimal('215'))
(2015, 'Arkansas', Decimal('155'))
(2015, 'California', Decimal('1204'))
(2015, 'Colorado', Decimal('176'))
(2015, 'Connecticut', Decimal('90'))
(2015, 'Delaware', Decimal('58'))
(2015, 'District of Columbia', Decimal('124'))
(2015, 'Florida', Decimal('796'))
(2015, 'Georgia', Decimal('595'))
(2015, 'Hawaii', Decimal('12'))
(2015, 'Idaho', Decimal('40'))
(2015, 'Illinois', Decimal('688'))
(2015, 'Indiana', Decimal('346'))
(2015, 'Iowa', Decimal('60'))
(2015, 'Kansas', Decimal('127'))
(2015, 'Kentucky', Decimal('230'))
(2015, 'Louisiana', Decimal('501'))
(2015, 'Maine', Decimal('31'))
(2015, 'Maryland', Decimal('404'))
(2015, 'Massachusetts', Decimal('109'))
(2015, 'Michigan', Decimal('355'))
(2015, 'Minnesota', Decimal('123'))
(2015, 'Mississippi', Decimal('223'))
(2015, 'Missouri', Decimal('492'))
(2015, 'Montana', Decimal('34'))
(2015, 'Nebraska', Decimal('59'))
(2015, 'Nevada', Decimal('183'))
(2015, 'New Hampshire', Decimal('22'))
(2015, 'New Jersey', Decimal('249'))
(2015, 'New Mexico', Decimal('116'))
(2015, 'New York', Decimal('463'))
(2015, 'North Carolina', Decimal('493'))
(2015, 'North Dakota', Decimal('18'))
(2015, 'Ohio', Decimal('537'))
(2015, 'Oklahoma', Decimal('220'))
(2015, 'Oregon', Decimal('125'))
(2015, 'Pennsylvania', Decimal('508'))
(2015, 'Rhode Island', Decimal('14'))
(2015, 'South Carolina', Decimal('384'))
(2015, 'South Dakota', Decimal('25'))
(2015, 'Tennessee', Decimal('395'))
(2015, 'Texas', Decimal('1136'))
(2015, 'Utah', Decimal('66'))
(2015, 'Vermont', Decimal('13'))
(2015, 'Virginia', Decimal('317'))
(2015, 'Washington', Decimal('197'))
(2015, 'West Virginia', Decimal('58'))
(2015, 'Wisconsin', Decimal('222'))
(2015, 'Wyoming', Decimal('21'))
(2015, None, Decimal('13484'))
(2016, 'Alabama', Decimal('488'))
(2016, 'Alaska', Decimal('88'))
(2016, 'Arizona', Decimal('277'))
(2016, 'Arkansas', Decimal('190'))
(2016, 'California', Decimal('1265'))
(2016, 'Colorado', Decimal('207'))
(2016, 'Connecticut', Decimal('68'))
(2016, 'Delaware', Decimal('42'))
(2016, 'District of Columbia', Decimal('106'))
(2016, 'Florida', Decimal('1001'))
(2016, 'Georgia', Decimal('548'))
(2016, 'Hawaii', Decimal('34'))
(2016, 'Idaho', Decimal('34'))
(2016, 'Illinois', Decimal('946'))
(2016, 'Indiana', Decimal('420'))
(2016, 'Iowa', Decimal('70'))
(2016, 'Kansas', Decimal('125'))
(2016, 'Kentucky', Decimal('288'))
(2016, 'Louisiana', Decimal('527'))
(2016, 'Maine', Decimal('18'))
(2016, 'Maryland', Decimal('429'))
(2016, 'Massachusetts', Decimal('112'))
(2016, 'Michigan', Decimal('385'))
(2016, 'Minnesota', Decimal('108'))
(2016, 'Mississippi', Decimal('290'))
(2016, 'Missouri', Decimal('515'))
(2016, 'Montana', Decimal('42'))
(2016, 'Nebraska', Decimal('57'))
(2016, 'Nevada', Decimal('205'))
(2016, 'New Hampshire', Decimal('20'))
(2016, 'New Jersey', Decimal('297'))
(2016, 'New Mexico', Decimal('122'))
(2016, 'New York', Decimal('416'))
(2016, 'North Carolina', Decimal('576'))
(2016, 'North Dakota', Decimal('18'))
(2016, 'Ohio', Decimal('628'))
(2016, 'Oklahoma', Decimal('243'))
(2016, 'Oregon', Decimal('95'))
(2016, 'Pennsylvania', Decimal('556'))
(2016, 'Rhode Island', Decimal('14'))
(2016, 'South Carolina', Decimal('387'))
(2016, 'South Dakota', Decimal('23'))
(2016, 'Tennessee', Decimal('470'))
(2016, 'Texas', Decimal('1313'))
(2016, 'Utah', Decimal('70'))
(2016, 'Vermont', Decimal('13'))
(2016, 'Virginia', Decimal('398'))
(2016, 'Washington', Decimal('183'))
(2016, 'West Virginia', Decimal('99'))
(2016, 'Wisconsin', Decimal('222'))
(2016, 'Wyoming', Decimal('18'))
(2016, None, Decimal('15066'))
(2017, 'Alabama', Decimal('544'))
(2017, 'Alaska', Decimal('69'))
(2017, 'Arizona', Decimal('289'))
(2017, 'Arkansas', Decimal('216'))
(2017, 'California', Decimal('1423'))
(2017, 'Colorado', Decimal('199'))
(2017, 'Connecticut', Decimal('89'))
(2017, 'Delaware', Decimal('56'))
(2017, 'District of Columbia', Decimal('100'))
(2017, 'Florida', Decimal('950'))
(2017, 'Georgia', Decimal('658'))
(2017, 'Hawaii', Decimal('8'))
(2017, 'Idaho', Decimal('47'))
(2017, 'Illinois', Decimal('959'))
(2017, 'Indiana', Decimal('407'))
(2017, 'Iowa', Decimal('71'))
(2017, 'Kansas', Decimal('152'))
(2017, 'Kentucky', Decimal('273'))
(2017, 'Louisiana', Decimal('549'))
(2017, 'Maine', Decimal('33'))
(2017, 'Maryland', Decimal('480'))
(2017, 'Massachusetts', Decimal('128'))
(2017, 'Michigan', Decimal('369'))
(2017, 'Minnesota', Decimal('115'))
(2017, 'Mississippi', Decimal('324'))
(2017, 'Missouri', Decimal('609'))
(2017, 'Montana', Decimal('41'))
(2017, 'Nebraska', Decimal('47'))
(2017, 'Nevada', Decimal('200'))
(2017, 'New Hampshire', Decimal('23'))
(2017, 'New Jersey', Decimal('275'))
(2017, 'New Mexico', Decimal('125'))
(2017, 'New York', Decimal('347'))
(2017, 'North Carolina', Decimal('556'))
(2017, 'North Dakota', Decimal('15'))
(2017, 'Ohio', Decimal('700'))
(2017, 'Oklahoma', Decimal('249'))
(2017, 'Oregon', Decimal('99'))
(2017, 'Pennsylvania', Decimal('635'))
(2017, 'Rhode Island', Decimal('11'))
(2017, 'South Carolina', Decimal('395'))
(2017, 'South Dakota', Decimal('19'))
(2017, 'Tennessee', Decimal('495'))
(2017, 'Texas', Decimal('1169'))
(2017, 'Utah', Decimal('70'))
(2017, 'Vermont', Decimal('9'))
(2017, 'Virginia', Decimal('385'))
(2017, 'Washington', Decimal('230'))
(2017, 'West Virginia', Decimal('81'))
(2017, 'Wisconsin', Decimal('209'))
(2017, 'Wyoming', Decimal('9'))
(2017, None, Decimal('15511'))
(2018, 'Alabama', Decimal('135'))
(2018, 'Alaska', Decimal('11'))
(2018, 'Arizona', Decimal('85'))
(2018, 'Arkansas', Decimal('43'))
(2018, 'California', Decimal('304'))
(2018, 'Colorado', Decimal('61'))
(2018, 'Connecticut', Decimal('17'))
(2018, 'Delaware', Decimal('8'))
(2018, 'District of Columbia', Decimal('25'))
(2018, 'Florida', Decimal('267'))
(2018, 'Georgia', Decimal('128'))
(2018, 'Hawaii', Decimal('1'))
(2018, 'Idaho', Decimal('14'))
(2018, 'Illinois', Decimal('165'))
(2018, 'Indiana', Decimal('96'))
(2018, 'Iowa', Decimal('10'))
(2018, 'Kansas', Decimal('38'))
(2018, 'Kentucky', Decimal('77'))
(2018, 'Louisiana', Decimal('129'))
(2018, 'Maine', Decimal('8'))
(2018, 'Maryland', Decimal('79'))
(2018, 'Massachusetts', Decimal('22'))
(2018, 'Michigan', Decimal('122'))
(2018, 'Minnesota', Decimal('26'))
(2018, 'Mississippi', Decimal('106'))
(2018, 'Missouri', Decimal('128'))
(2018, 'Montana', Decimal('5'))
(2018, 'Nebraska', Decimal('11'))
(2018, 'Nevada', Decimal('61'))
(2018, 'New Hampshire', Decimal('1'))
(2018, 'New Jersey', Decimal('57'))
(2018, 'New Mexico', Decimal('37'))
(2018, 'New York', Decimal('67'))
(2018, 'North Carolina', Decimal('108'))
(2018, 'North Dakota', Decimal('3'))
(2018, 'Ohio', Decimal('139'))
(2018, 'Oklahoma', Decimal('44'))
(2018, 'Oregon', Decimal('31'))
(2018, 'Pennsylvania', Decimal('136'))
(2018, 'Rhode Island', Decimal('5'))
(2018, 'South Carolina', Decimal('89'))
(2018, 'South Dakota', Decimal('7'))
(2018, 'Tennessee', Decimal('98'))
(2018, 'Texas', Decimal('310'))
(2018, 'Utah', Decimal('10'))
(2018, 'Vermont', Decimal('4'))
(2018, 'Virginia', Decimal('72'))
(2018, 'Washington', Decimal('54'))
(2018, 'West Virginia', Decimal('23'))
(2018, 'Wisconsin', Decimal('46'))
(2018, 'Wyoming', Decimal('10'))
(2018, None, Decimal('3533'))
(None, None, Decimal('60467'))

In [6]:
df1 = pd.read_sql_query(query1,engine)

In [7]:
df1.to_json(path_or_buf='overall_gun_deaths_by_year.json',orient='records')

In [11]:
query2 = """
SELECT year(gundata.date),gundata.state,city_or_county,latitude,longitude,sum(n_killed) FROM gundata
LEFT JOIN		(SELECT state,year(date)
				FROM gundata
				GROUP BY state,year(date)
				ORDER BY SUM(n_killed) DESC
                LIMIT 5) as sub
ON gundata.state = sub.state
WHERE sub.state IS NOT NULL
GROUP BY city_or_county, year(gundata.date)
ORDER BY sum(n_killed) DESC;
"""


df2 = pd.read_sql_query(query2,engine)
df2.to_json(path_or_buf='Nationwide_gun_deaths.json',orient='records')

In [22]:
#Used Stored Procedure
df3 = pd.read_sql_query("call Cause_Of_Gun_Deaths()", engine)
df3.to_json(path_or_buf='Cause_of_Gun_Deaths_by_City_State_Year.json',orient='records')

ValueError: unsupported format character 'm' (0x6d) at index 41